:root {
    --main-black-color: #181818;
    --secondary-black-color: #484848;
    --grey-color: #292929;
    --white-color: #EFEFEF;
    --red-color:#EF3E36;
    --blue-color: #2CA8CE;
    --dark-blue-color: #2364AA;
    --orange-color: #FF7F11;
    --main-green-color: #337357;
    --secondary-green-color: #4F9476;
}

body {
    background-color: var(--main-black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: var(--white-color);
}

header {
    margin-top: 25px;
}

footer {
    color: var(--secondary-black-color);
    font-size: 10px;
    position: fixed;
    bottom: 10px;
    left: 2%;
}

.swiper {
    width: 100vw;
    height: 146px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    padding-top: 20px;
}

.day-shape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: var(--secondary-green-color);
}

.swiper-slide p {
    color: var(--white-color);
    text-align: center;
    font-size: 40px;
}

.swiper-no-pointer {
    cursor: default;
}

.swiper-link {
    background-color: var(--main-green-color);
    transition: background-color 500ms;
}

.slide-link {
    text-decoration: none;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}

.texto-inicial {
    font-weight: 200;
    font-size: 18px;
    margin-top: 35px;
}

#mes-timelapse {
    color: var(--secondary-black-color);
    font-family: "Lora", serif;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: -15px;
    padding-right: 2%;
    text-align: right;
}

#ano-timelapse {
    color: var(--secondary-black-color);
    font-family: "Lora", serif;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding-right: 2%;
    text-align: right;
}

#home-btn {
    margin-top: 36px;
}

#add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

#remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--red-color);
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

#remove-icon {
    width: 24px;

}

#add-icon {
    width: 44px;
}
