:root {
    --main-black-color: #181818;
    --secondary-black-color: #484848;
    --main-white-color: #EFEFEF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-black-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: var(--main-white-color);
}

header {
    margin-top: 25px;
}

footer {
    color: var(--secondary-black-color);
    font-size: 10px;
    position: fixed;
    bottom: 10px;
    left: 2%;
}