{% extends "base.html" %}

{% block content %}
    <p>Selecione o arquivo Excel: <p>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="xlsx">
        <input type="submit" value="Enviar 📂">
    </form>
    <p style="color: greenyellow;">Dados Sensores: <p>
    <div id="table-container"></div>

    <script>
        const tableHTML = document.getElementById('table-container');
        tableHTML.innerHTML = "{{ table_html }}";
        const tableElement = document.getElementById('table-container');
        const tableText = tableElement.textContent;
        document.getElementById('table-container').innerHTML = tableText;
    </script>
{% endblock %}

