<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo</title>
    <link rel="stylesheet" href={{url_for('static', filename='css/normalize.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename='css/style.css')}}>
    <link rel="shortcut icon" href={{url_for('static', filename='img/favicon.ico')}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css">

    <!-- Fonte Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Fonte Lora -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Swiper.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='img/logo.png')}}" id="logo">
    </header>
  
    {% if request.path != "/"%}
    <a href="/" id="home-btn">
        <svg width="32px" height="32px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#EF3E36">
        <g id="SVGRepo_bgCarrier" stroke-width="0"/>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
        <g id="SVGRepo_iconCarrier"> <circle cx="12" cy="12" r="10" stroke="#EF3E36" stroke-width="1.5"/> <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#EF3E36" stroke-width="1.5" stroke-linecap="round"/> </g>
        </svg>
    </a>
    {% endif %}

    <p class="texto-inicial">
        {% if request.path == "/" %}
            Seja Bem-vindo
        {% elif request.path == "/add-data" %}
            Adicionar registro
        {% elif request.path == "/delete-data" %}
            Deletar registro
        {% elif request.path == "/show-data" %}
            Visualização dos dados
        {% else %}
            Pesquise por período
        {% endif %}
    </p>

    {% block content %}
    {% endblock %}

    <!-- {% if request.path != '/statistics' or request.path == '/' %}    
    <div class=watermark>Desenvolvido por Bugbusters.</div>
    {% endif %} -->
    
    <!-- Overview.js -->
    <script src={{ url_for('static', filename='js/overview.js') }} type="module"></script>

    <!-- Swiper.js -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src={{ url_for('static', filename='js/timelapse.js') }} type="module"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script src={{ url_for('static', filename='js/grafico.js') }}></script>
    <script src={{ url_for('static', filename='js/codigo.js') }}></script>
</body>
</html>
