{% extends "base.html" %}

{% block content %}
    <!-- Timelapse -->
    <section>
        <p id="mes-timelapse">
            Março
        </p>
        <div class="swiper">
            <div class="swiper-wrapper">
            {% for i in range(21, 32) %}
              <div class="swiper-slide">
                <div class="day-shape">
                  <a class="slide-link">
                      <p>{{ i }}</p>
                    </a>
                </div>
              </div>
            {% endfor %}
            </div>
          </div>
          <p id="ano-timelapse">
            2024
          </p>

          <div class="btn-container">
            <a href="/add-data" id="add-btn">
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                   <path fill-rule="evenodd" clip-rule="evenodd" d="M11.25 12.75V18H12.75V12.75H18V11.25H12.75V6H11.25V11.25H6V12.75H11.25Z" fill="#EFEFEF"></path> 
                </g>
              </svg>          
            </a> 
          </div>
    </section>
{% endblock %}
