{% extends "base.html" %}

{% block content %}

    <div class="day-shape" style="margin: 40px;">
        <p class="day-font" key={{ date_key }}>{{ dia_swiper }}</p>
    </div>

    <table class="custom-table">
        <tr class="table-header">
            <th>Hora</th>
            <th>Umidade do Solo</th>
            <th>Umidade do Ambiente</th>
            <th>Temperatura do Ambiente</th>
            <th>Volume de Água</th>
        </tr>
        {% for date in all_dates %}
        <tr class="table-row">
            <td class="table-data">{{ date.time }}</td>
            <td class="table-data">{{ date.soil_humidity }}</td>
            <td class="table-data">{{ date.ambient_humidity }}</td>
            <td class="table-data">{{ date.ambient_temperature }}</td>
            <td class="table-data">{{ date.water_volume }}</td>
        </tr>
        {% endfor %}
    </table>

        <div class=watermark>Desenvolvido por Bugbusters.</div>
        
        {{dados_por_dia}}
{% endblock %}
